[submodule "modules/spades_ws3_dataInit"]
	path = modules/spades_ws3_dataInit
	url = https://github.com/gparadis/spades_ws3_dataInit
[submodule "modules/spades_ws3"]
	path = modules/spades_ws3
	url = https://github.com/gparadis/spades_ws3
